.Auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4rem;
    position: relative;
}

.Auth>div {
    display: flex;
    align-items: end;
    justify-content: center;
}

.a-left {
    gap: 2rem;
}

.a-left >img{
    height: 120px;
    width: 120px;
}

.Webname>h1 {
    font-size: 3rem;
    background-color: red;
    background-image: var(--buttonBg);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
}

.Webname>h4 {
    font-size: 1rem;
}

.infoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.infoInput {
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex: 1;
}

.infoForm>div {
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
}

.infoButton {
    width: 8rem;
    height: 4.5rem;
    font-size: 17px;
    align-self: flex-end;
}

.authForm {
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
}

.authForm>div {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.spanForm {
    font-size: 20px;
    cursor: pointer;
}