.lessons {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 15px;
}

.lessonItem {
    border-radius: 10px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lessonImg {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.lessonTitle {
    font-weight: 300;
    max-height: 120px;
    text-align: center;
}

.h1div {
    margin: 10px 0px;
}

.h2div {
    margin: 10px 0;
}

.modelButton {
    display: flex;
    justify-content: space-between;
}

.form-control {
    height: 40px;
    font-size: 20px;
}

.buttonDiv {
    display: flex;
    justify-content:space-between;
    gap: 5px;
}