.lessons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.lessonItem {
    border-radius: 10px;
    height: 500px;
}

.lessonImg {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.lessonTitle {
    font-weight: 300;
    max-height: 120px;
    text-align: center;
}

.lessonBtn {
    color: white;
    background-color: #003580;
    height: 40px;
    width: 90px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-left: 90px;
    margin-bottom: 20px;
    text-align: center;
}

.h1div {
    margin: 10px 0px;
}

.h2div {
    margin: 10px 0;
}

.modelButton {
    display: flex;
    justify-content: space-between;
}

.form-control {
    height: 40px;
    font-size: 20px;
}