.navbar {
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navbarContainer {
    width: 100%; 
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.logo {
    margin: 10px;
    font-weight: 700;
    cursor: pointer;
}

.navButton {
    color:chocolate;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}